.span {
  //   background-color: red;
  padding: 22px 16px;
  text-align: center;
}

.cardSpan {
  color: gray; // width: 300px;
  margin-top: 16px;
//   border: 1px solid gray;
  border-radius: 5px;
}

.cardSpan:hover {
  // z-index: 2;
  box-shadow: 10px 10px 5px #888888;
  margin-top: 14px;
}

.redSty {
  width: 100;
  border: 1px solid red;
  border-radius: 5px;
}

.normalSty {
  width: 100;
}

.pageContent {
  width: 50%;
  margin: auto;
  margin-bottom: 40px;
}

.pageContent ul {
  padding: 0px;
}

.bottomDiv {
  margin-top: 10px;
}
.time {
  margin-left: 8px;
}
.reply {
  margin-left: 8px;
}
.replySpan {
  margin-left: 6px;
}
